@font-face {
  font-family: 'Sohne Butch';
  src: url('./fonts/sohne-butch.woff2') format('woff2');
  /* Agrega otros formatos de fuente aquí si es necesario */
  font-weight: normal;
  font-style: normal;
}

*{
  margin:0;
  padding:0;
  font-family: 'Sohne Butch', sans-serif;
}

body{
  background: hsl(204, 94%, 88%) url(../images/background5.png);
  background-size:20%;
}

.slider{
  margin-top:2rem;
  margin-bottom:3rem;
}

.generos{
  border: 2px solid #410449;
  border-width: 0.2rem;
  /* border-color: black; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: #022544;
}

.product-list-container {
  display: flex;
  
}

.product-list {
  width:60%;
  padding-left: 10%;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  
  gap: 3rem;
}

.summary-component {
  border-radius: 10px;
  background-color:#7da7c3;
  padding:1rem;
  position: sticky;
  margin-top: 3rem;
  top: 60px;
  bottom:60px;
  align-self: flex-start; /* Ajusta esto según sea necesario */
}

.payment{
  margin-top:3rem;
  padding-left:10%;
  display:flex;
  gap:2rem;
}

.payment-column{
  display: flex;
    flex-direction: column;
    width: 60%;
    gap: 5rem;
}

.scroll{
  z-index:100;
}
