*{
  margin:0;
  padding:0;
  background-color: #4361ee;
}

.slider{
  margin-top:2rem;
  margin-bottom:3rem;
}

.generos{
  border: 2px solid #410449;
  border-width: 0.2rem;
  /* border-color: black; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0px;
  z-index: 100;
}
