@font-face {
  font-family: 'Sohne Butch';
  src: url('./fonts/sohne-butch.woff2') format('woff2');
  /* Agrega otros formatos de fuente aquí si es necesario */
  font-weight: normal;
  font-style: normal;
}

*{
  margin:0;
  padding:0;
  background-color: hsl(204, 94%, 88%);
  font-family: 'Sohne Butch', sans-serif;
}

.slider{
  margin-top:2rem;
  margin-bottom:3rem;
}

.generos{
  border: 2px solid #410449;
  border-width: 0.2rem;
  /* border-color: black; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0px;
  z-index: 100;
}
